%button, .button {
  @include transition(background 0.2s linear);
  @include font-size-rem(18);
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  padding: $base-spacing/2 $base-spacing*2;
  text-decoration: none;

  &:hover {
    background-color: $hover-button-color;
    color: $cream;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.light {
    background-color: darken($cranberry, 5);
  }

  &.small {
    @include font-size-rem(13);
    padding: $base-spacing/2 $base-spacing;
  }
}
