@mixin flash($color) {
  background: $color;
  color: darken($color, 60);

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}

%flash-base {
  font-weight: bold;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
}

%flash-alert {
  @extend %flash-base;
  @include flash($alert-color);
}

%flash-error {
  @extend %flash-base;
  @include flash($error-color);
}

%flash-notice {
  @extend %flash-base;
  @include flash($notice-color);
}

%flash-success {
  @extend %flash-base;
  @include flash($success-color);
}

// Helpers, flash messages, info boxes
.infobox {
    background: lighten($sunshine, 10);
    box-shadow: 1px 1px 1px darken($cream, 5), inset 3px 0px 0px darken($sunshine, 20);
    margin: $base-spacing 0;
    padding: 0 $base-spacing $base-spacing;
    p {
        margin: 0;
        padding-top: $base-spacing;
    }
    ul {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
