<!-- used by -->
<section class="sponsors">
    <div class="site-container">
        <h1 class="title">Our incredible sponsors</h1>
        <section class="logos">
            <img src="/assets/images/sponsors/atlassian.png">
            <img src="/assets/images/sponsors/digitalocean.png">
            <img src="/assets/images/sponsors/netlify.png">
            <img src="/assets/images/sponsors/nodecraft.png">
        </section>
        <hr />
        <section class="description">
            <h2>Would you like to become a sponsor?</h2>
            <p>Your donation helps <a href="https://funding.communitybridge.org/projects/rethinkdb">support RethinkDB's future</a> as an open-source project.</p>
        </section>
    </div>
</section>
