<!-- used by -->
<section class="used-by">
    <div class="site-container">
        <section class="logos">
            <img src="/assets/images/used-by/jive.png">
            <img id="nasa" src="/assets/images/used-by/nasa.png">
            <img src="/assets/images/used-by/narrative.png">
            <img src="/assets/images/used-by/cmune.png">
            <img src="/assets/images/used-by/socialradar.png">
            <img src="/assets/images/used-by/mediafly.png">
            <img src="/assets/images/used-by/wiseio.png">
            <img src="/assets/images/used-by/platzi.png">
        </section>
        <hr>
        <section class="testimonials">
            <div class="site-container">
                <ul>
                    <li class="testimonial">
                        <blockquote>
                            RethinkDB has the best query language of all new databases I’ve seen.
                            <cite>Guillermo Rauch, Cloudup CTO, creator of Mongoose</cite>
                        </blockquote>
                    </li>
                    <li class="testimonial">
                        <blockquote>
                            RethinkDB is probably the most interesting new
                            ‘on-disk + complex queries’ database out there. For
                            sure made by people who get it.
                            <cite>Salvatore Sanfillipo, creator of Redis</cite>
                        </blockquote>
                    </li>
                    <li class="testimonial-single">
                        <blockquote>
                            At NASA, RethinkDB is radically simplifying how we provide real-time services in support of Extra-Vehicular Activity.
                            <cite>Collin Estes, Director of Software Engineering, Chief Architect - MRI Technologies Inc. - NASA / ESOC</cite>
                        </blockquote>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</section>
