<!-- used by -->
<section class="used-by">
    <div class="site-container">
        <section class="logos">
            <img src="/assets/images/used-by/jive.png">
            <img id="nasa" src="/assets/images/used-by/nasa.png">
            <img src="/assets/images/used-by/narrative.png">
            <img src="/assets/images/used-by/cmune.png">
            <img src="/assets/images/used-by/socialradar.png">
            <img src="/assets/images/used-by/mediafly.png">
            <img src="/assets/images/used-by/wiseio.png">
            <img src="/assets/images/used-by/platzi.png">
        </section>
        <hr>
        <section class="testimonials">
            <div class="site-container">
                <ul>
                    <li class="testimonial">
                        <blockquote>
                            RethinkDB has the best query language of all new databases I’ve seen.
                            <cite>Guillermo Rauch, Cloudup CTO, creator of Mongoose</cite>
                        </blockquote>
                    </li>
                    <li class="testimonial">
                        <blockquote>
                            RethinkDB is probably the most interesting new
                            ‘on-disk + complex queries’ database out there. For
                            sure made by people who get it.
                            <cite>Salvatore Sanifillipo, creator of Redis</cite>
                        </blockquote>
                    </li>
                </ul>
            </div>
            <div class="site-container">
                <ul>
                    <li class="testimonial testimonial-full">
                        <blockquote>
                            RethinkDB is allowing us to do some really neat stuff, in outer space.
                            <cite>Mike, Director of Awesome at NASA</cite>
                        </blockquote>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</section>
