<div class="blog-sidebar-wrap">
    <aside class="blog-sidebar">
        <ul>
            <li>
                <p>
                    <span>What is RethinkDB?</span>
                     RethinkDB is an open-source, document database that makes it easy to build and scale realtime apps. 
                </p>
                <p>Read <a href="/blog">more posts</a> on our blog.</p>
            </li>
            <li>
                <span>Want the latest updates?</span>
                <input class="medium" type="text" placeholder="Your email address" type="text">
                <button class="button subscribe small" type="submit">Subscribe</button>
            </li>
            <li>
                <span>Share</span>
                <a href="icon twitter">Twitter</a>
                <a href="icon facebook">Facebook</a>
            </li>
        </ul>
    </aside>
</div>
