<div class="post">
    <div class="post-hero">
        <img src="http://placehold.it/800x400">
    </div>
    <a href="#">{{page.url}}<h1 class="title">{{page.title }}</h1></a>
    <div class="post-byline">
        <a class="avatar" href="#">
            <img src="http://placehold.it/50x50">
            {% if page.author %}{{ page.author }}{% else %}RethinkDB Team{% endif %}
        </a>
        <span class="post-timestamp">{{ page.date | date: "%B %d, %Y" }}</span>
        <ul class="post-tags">
            {% for tag in page.tags %}
            <li><a href="#">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        <ul class="post-toc">
            <li><a href="#">Content &#x25BE;</a></li>
        </ul>
    </div>
    <div class="post-body">
        {{ content }}
    </div>
</div>
