{% assign this_doc = page.docs_active %}
<nav class="docs-nav">
    {% for each in site.data.docs_nav %}
        <section>
            <h1>{{ each.section.name }}</h1>
            {% assign docs_in_section = each.section.docs | map: 'permalink' %}
            <ul{% if docs_in_section contains this_doc %} class="expanded"{% endif %}>
                {% for doc in each.section.docs %}
                    <li{% if doc.permalink == this_doc %} class='active'{% endif %}>
                        <a href="{{ doc.url }}">{{ doc.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endfor %}
</nav>
