<!-- used by -->
<section class="used-by">
    <div class="site-container">
        <h1><span>Used by</span></h1>
        <div class="logos">
            <img src="/assets/images/used-by/jive.png">
            <img src="/assets/images/used-by/narrative.png">
            <img src="/assets/images/used-by/pristine.png">
            <img src="/assets/images/used-by/cmune.png">
            <img src="/assets/images/used-by/socialradar.png">
            <img src="/assets/images/used-by/mediafly.png">
            <img src="/assets/images/used-by/dropbox.png">
            <img src="/assets/images/used-by/platzi.png">
        </div>
    </div>
</section>

