body.about {
    // Override
    .site-nav { margin-bottom: 0; }
    .about h1 { margin-bottom: $base-spacing/4; }
    .about h2 {
        @include font-size-rem(22);
        font-family: $sans-serif-semi-bold;
        padding-top: $base-spacing/4;
        padding-bottom: $base-spacing/4;
        font-weight: 600;
    }
    // Shared section styles
    .about section { padding: 6% 0 8%; }
    // Hero
    // Extends the hero design pattern in _hero.scss
    .hero {
        background-size: cover;
        @extend .hero-bg;
    }
    // Intro
    #intro {
        .intro-text {
            @include font-size-rem(24);
            @extend .two-third;
            line-height: rem(32);
            padding-right: $base-spacing*6;
        }
        .intro-img { @extend .third; }
        .intro-callout { margin-top: rem(20); }
        .infobox {
            @include font-size-rem(20);
            @extend .half;
        }

        @include media($mobile) {
            .intro-text { padding-right: 0; }
        }
    }
    // Team
    #team {
        background: #fff;

        .team-list > div {
            @extend .half;
            padding-top: $base-spacing;

            &:first-child { padding-right: $base-spacing/2; }
            &:last-child { padding-left: $base-spacing/2; }

            @include media($mobile) {
                &:first-child, &:last-child {
                    @include outer-container;
                    padding: $base-spacing 0;
                }
            }

            h1 {
                @include font-size-rem(17);
                letter-spacing: 0px;
                font-family: $sans-serif-medium;
                font-weight: 500;
            }
            p { @include font-size-rem(15); }
        }

        .team-list li {
            border: 1px solid $smoke-gray;
            border-radius: $base-border-radius;
            height: rem(210);
            margin-top: $base-spacing/2;
            padding: $base-spacing;
            position: relative;

            a {
                @include font-size-rem(15);
                font-family: $sans-serif-medium;
                font-weight: 500;
                position: absolute;
                bottom: $base-spacing;
                left: $base-spacing;
            }

            @include media($mobile) {
                @include span-columns(6 of 12);
                @include omega(2n);
                height: rem(120);
                p { display: none; }
                .infobox p { display: block; }
            }
            @include media($medium-screen-up) {
                @include span-columns(6 of 12);
                @include omega(2n);
            }
            @include media($large-screen-up) {
                @include omega-reset(2n);
                @include span-columns(4 of 12);
                @include omega(3n);
            }
        }

        .contributors {
            li:last-child {
                @include fill-parent;
                @include outer-container;
                border: none;
                padding: 0;
                a { position: inherit; }
                p, a { @include font-size-rem(20); }
            }
        }

        .infobox { background: lighten($sunshine, 4); }
    }
    // Benefits
    #benefits {
        background: $surf;
        .benefit-hero {
            @extend .two-third;
            margin-top: $base-spacing;
        }
        ul {
            @extend .third;
        }
        li {
            @include fill-parent;
            text-align: center;
            padding: $base-spacing 0 $base-spacing 12%;

            img {
                border-radius: 50%;
                display: block;
                height: rem(100);
                margin: 0 auto $base-spacing/2;
                overflow: hidden;
                width: rem(100);
            }
        }

        @include media($mobile) {
            li { padding: $base-spacing/2 10%; }
        }
    }
    // Jobs
    #jobs {
        li {
            @extend .half;
            border: 1px solid $smoke-gray;
            border-top: 3px solid $teal;
            border-radius: $base-border-radius;
            padding: $base-spacing;
            margin-top: $base-spacing;

            // Color those borders
            &:nth-child(1n) { border-top: 3px solid lighten($teal, 20); }
            &:nth-child(2n) { border-top: 3px solid saturate(darken($surf, 20), 30); }
            &:nth-child(3n) { border-top: 3px solid saturate(darken($sunshine, 10), 5); }
            &:nth-child(4n) { border-top: 3px solid desaturate(lighten($cranberry, 5), 25); }
        }
    }
}
