.blog {
    // Shared typographic styles
    .posts, .post-container {
        h1 {
            @include font-size-rem(33);
            font-weight: 400;
            line-height: rem(38);
        }

        h2 {
            @include font-size-rem(22);
            font-family: $sans-serif-semi-bold;
            font-weight: 600;
        }

        h1, h2 { margin: $base-spacing*1.5 0 $base-spacing;}

        .post:first-child h1 { margin-top: 0; }
    }

    // Shared layout styles
    $_padding-top: $base-spacing*2;
    .posts, .post-container {
        @extend .three-quarter;
        padding-right: $base-spacing*3;
        padding-top: $_padding-top;
    }
    .blog-sidebar {
        @extend .quarter;
        padding-top: $_padding-top;
    }

    // Individual element styles
    .post {
        border-bottom: 1px solid darken($smoke-gray, 5);
        padding-bottom: $base-spacing*1.6;

        a { color: lighten(saturate($teal, 25), 25); }
    }

    .post-byline {
        color: lighten(desaturate($teal, 35), 20);
    }

    .avatar, .post-timestamp, .post-tags {
        display: inline-block;
    }

    .avatar {
        @include font-size-rem(16);
        font-family: $sans-serif-medium;
        font-weight: 500;
        margin-right: $base-spacing;

        img {
            border-radius: 50%;
            height: rem(50);
            margin-right: $base-spacing/2;
            overflow: hidden;
            width: rem(50);
            vertical-align: middle;
        }
    }

    .post-timestamp {
        @include font-size-rem(14);
        font-family: $sans-serif-semi-bold;
        font-weight: 600;
        text-transform: uppercase;
    }

    .post-tags {
        margin-left: $base-spacing;

        li {
            @include font-size-rem(14);
            border-radius: $base-border-radius/2;
            border-bottom: 2px solid $smoke-gray;
            font-family: $sans-serif-medium;
            font-weight: 500;
        }
    }

    .post-hero {
        padding-top: $base-spacing*1.5;
        width: 100%;
    }

    .post-body {
        color: lighten(desaturate($teal, 35), 20);
        padding-top: $base-spacing;

        li, p {
            @include font-size-rem(20);
            line-height: rem(30);
        }

        ul { margin: $base-spacing 0; }
        ul li:last-child { margin-bottom: $base-spacing; }

        li {
            @include font-size-rem(16);
            font-family: $sans-serif-medium;
            font-weight: 500;
            list-style-type: disc;
            list-style-position: outside;
            padding: 0 0 0 $base-spacing/2;
            margin-bottom: $base-spacing/3;
            margin-left: 2rem;
        }

        p { margin-bottom: $base-spacing; }
        .infobox p {
            @include font-size-rem(16);
            font-family: $sans-serif-medium;
            font-weight: 500;
            margin-bottom: 0;
        }
    }

    // 'Read more' link for each post
    a.post-link {
        margin-top: rem(15);
        padding: rem(8) rem(30);
    }

    // Blog sidebar
    .blog-sidebar {
        // The blog sidebar sticks when you scroll past it
        ul { 
            width: rem(300);
            &.stuck {
                position: fixed;
                top: 0;
            }
        }
        li, p {
            @include font-size-rem(16);
            font-family: $sans-serif-medium;
            font-weight: 500;
            margin-bottom: $base-spacing*2;
        }

        span {
            display: block;
            font-family: $sans-serif-medium;
            font-weight: 600;
            margin-bottom: $base-spacing/3;
        }

        button { margin-top: $base-spacing/2; }

    }
}
