body.community .site-nav {
    @extend .site-nav, .translucent;
}

.community-wrapper a { color: lighten(saturate($teal, 25), 25); }
.community-wrapper h1 {
    margin-bottom: $base-spacing;
    line-height: rem(50);
}
.community-wrapper h2 {
    @include font-size-rem(22);
    font-family: $sans-serif-semi-bold;
    padding-top: $base-spacing/4;
    padding-bottom: $base-spacing/2;
    font-weight: 600;
}

// Shared section styles
.community-wrapper section { padding: 4% 0 5%; }

// Hero
// Extends the hero design pattern in _hero.scss
.community-wrapper .hero {
    @extend .hero-bg;
    @include background-image(url("/assets/images/community/hero.jpg"));
    background-position: center rem(-50);
    background-size: cover;
    height: rem(400);

    // Top padding should at least the height of the navbar, proper offset
    padding-top: rem(50);

    @include media($mobile) { background-position: center rem(0); }
    @include media($medium-screen-up) { background-position: center rem(0); }
    @include media($large-screen-up) { background-position: center rem(-50); }
    @include media($x-large-screen-up) { background-position: center rem(-70); }
}

// Community intro
.community-wrapper .intro {
    article.getting-help {
        @extend .two-third;
	padding-right: 1em;
	.more-ways-to-reach-us {
            list-style-type: disc;
    	    margin-left: 2em;
	}
    }
}

// Events
.community-wrapper .events {
    $_fg-color: rgb(218, 229, 229);
    background: rgb(241, 245, 245);
    overflow: hidden;

    > h1 {
        margin-bottom: $base-spacing*2;
    }

    .community-illustration {
        position: absolute;
        left: rem(700);
        bottom: rem(-440);
        margin-left: rem(-40);
        width: rem(540);
    }

    ul {
        max-width: rem(600);
        border-left: 3px solid $_fg-color;
        margin-left: rem(10);
        padding-left: rem(60);
    }

    li.event {
        position: relative;
        margin-bottom: $base-spacing*3;
        h1 {
            margin-bottom: 0;
            line-height: rem(28);
            font-size: rem(28);
            margin-bottom: rem(8);
            a { color: $base-font-color; }
        }

        h2 {
            font-size: rem(20);
            font-weight: 400;
            font-style: italic;
            margin-bottom: rem(10);
        }
        &:before {
            $_size: rem(15);
            content: '';
            display: block;
            position: absolute;
            top: rem(23);
            left: rem(-69);
            width: $_size;
            height: $_size;
            margin-top: -$_size;
            border-radius: $_size;
            background: $_fg-color;
        }
        &:last-child { margin-bottom: 0; }
    }
}

// Recent talks/videos
// Extends video-grid design pattern for base styles
.talks {
    h1 { text-align: center; }
    .videos {
        // Show grid columns only on tablets and larger
        @include media($medium-screen-up) {
            @include column-count(3);
            @include column-gap(1rem);
        }
        // Extend the basic design pattern for video grids
        @extend .video-grid;

        // Set individual preview images
        .video {
            &:nth-child(1) {
                background: url('/assets/images/events/ryan-geolocation.png') center center no-repeat;
                background-size: cover;
            }
            &:nth-child(2) {
                background: url('/assets/images/events/michael-realtime.png') center top no-repeat;
                background-size: cover;
            }
            &:nth-child(3) {
                background: url('/assets/images/events/josh-publish.png') center top no-repeat;
                background-size: cover;
            }
            &:nth-child(4) {
                background: url('/assets/images/events/annie-art.png') center center no-repeat;
                background-size: cover;
            }
            &:nth-child(5) {
                background: url('/assets/images/events/josh-publish.png') center top no-repeat;
                background-size: cover;
            }
            &:nth-child(6) {
                background: url('/assets/images/events/annie-art.png') center center no-repeat;
                background-size: cover;
            }

            // Adjust variable video height
            &:nth-child(1), &:nth-child(4), &:nth-child(5) { height: rem(300); }
            &:nth-child(2), &:nth-child(3), &:nth-child(6) { height: rem(350); }
        }
    }

    // Modal for talks/videos
    // Extends design pattern _video-modal
    .video-modal {
        @extend .video-modal;
    }
}


