body.community {
    // Override
    .site-nav { margin-bottom: 0; }
}

.community-wrapper a { color: lighten(saturate($teal, 25), 25); }
.community-wrapper h1 { margin-bottom: $base-spacing/4; }
.community-wrapper h2 {
    @include font-size-rem(22);
    font-family: $sans-serif-semi-bold;
    padding-top: $base-spacing/4;
    padding-bottom: $base-spacing/4;
    font-weight: 600;
}

// Shared section styles
.community-wrapper section { padding: 4% 0 5%; }

// Hero
// Extends the hero design pattern in _hero.scss
.community-wrapper .hero {
    @extend .hero-bg;
    @include background-image(url("https://pbs.twimg.com/media/B3aNGmgCUAAupk4.png:large"));
    background-size: cover;
}

// Community intro
.community-wrapper .intro {
    .site-container > div {
        background: #fff;
        border: 1px solid lighten($smoke-gray, 2);
        border-radius: $base-border-radius*2;
        padding: $base-spacing*1.5;
        position: relative;

        &:hover {
            background: lighten($cream, 1);
            h1 a { color: $teal; }
        }
    }
    p { margin: $base-spacing/3 0 $base-spacing/3; }

    img {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
    h1 { line-height: rem(34); }
    h2 {
        padding-top: $base-spacing;
        padding-bottom: 0;
    }
}

// Events
.community-wrapper .events {
    background: white;
}

// Recent talks/videos
// Extends video-grid design pattern for base styles
.talks {
    h1 { text-align: center; }
    .videos {
        // Show grid columns only on tablets and larger
        @include media($medium-screen-up) {
            @include column-count(3);
            @include column-gap(1rem);
        }
        // Extend the basic design pattern for video grids
        @extend .video-grid;

        // Set individual preview images
        .video {
            &:nth-child(1) {
                background: url('/assets/images/events/ryan-geolocation.png') center center no-repeat;
                background-size: cover;
            }
            &:nth-child(2) {
                background: url('/assets/images/events/michael-realtime.png') center top no-repeat;
                background-size: cover;
            }
            &:nth-child(3) {
                background: url('/assets/images/events/josh-publish.png') center top no-repeat;
                background-size: cover;
            }
            &:nth-child(4) {
                background: url('/assets/images/events/annie-art.png') center center no-repeat;
                background-size: cover;
            }
            &:nth-child(5) {
                background: url('/assets/images/events/josh-publish.png') center top no-repeat;
                background-size: cover;
            }
            &:nth-child(6) {
                background: url('/assets/images/events/annie-art.png') center center no-repeat;
                background-size: cover;
            }

            // Adjust variable video height
            &:nth-child(1), &:nth-child(4), &:nth-child(5) { height: rem(300); }
            &:nth-child(2), &:nth-child(3), &:nth-child(6) { height: rem(350); }
        }
    }

    // Modal for talks/videos
    // Extends design pattern _video-modal
    .video-modal {
        @extend .video-modal;
    }
}
