.docs, .api {
    .documentation {
        padding: $base-spacing*3 0;
        a { color: lighten(saturate($teal, 25), 25); }

        // Share typographic styles
        .doc_navigation, .toc {
            li {
                @include font-size-rem(14);
                font-weight: 500;
                line-height: rem(16);
                margin: $base-spacing/3 0;
            }
            a {
                font-family: $sans-serif-medium;
                font-weight: 500;
            }
        }
        // Search
        .search input {
            border: none;
            padding-bottom: $base-spacing/2;
            padding-left: 0;
        }
        // Left-side docs navigation
        .doc_navigation {
            @extend .quarter;

            h1, .nav-header {
                @include font-size-rem(16);
                color: lighten(desaturate($teal, 30), 30);
                cursor: pointer;
                font-family: $sans-serif-medium;
                font-weight: 600;
                padding: $base-spacing/2 0 0;
                width: 90%;
            }
            .nav-header {
                border-bottom: none;
                padding-bottom: 0;
            }
            // Hide initially for accordion
            ul {
                border-left: 1px solid $smoke-gray;
                display: none;
                padding-left: $base-spacing/2;
            }
            li.active a { color: $teal; }
            ul.active { display: block; }
            // Scrolling navigation for api
            &.scrolling {
                position: fixed;
                bottom: 0;
                overflow-y: auto;
            }
        }
        // Api header
        #api-header {
            overflow: auto;
            &.stuck {
                position: fixed;
                top: 0;
            }
        }
        // Right-side documentation content
        .documentation-content {
            @extend .three-quarter;
            padding: 0;
            position: relative;

            h1, h2, h3 {
                margin-top: $base-spacing*2;
                margin-bottom: $base-spacing/2;
            }
            h1 {
                @include font-size-rem(33);
                font-weight: 400;
                line-height: rem(38);
            }

            h2 {
                @include font-size-rem(22);
                font-family: $sans-serif-semi-bold;
                font-weight: 600;
            }

            h3 {
                @include font-size-rem(18);
                color: lighten(desaturate($teal, 30), 30);
                font-family: $sans-serif-semi-bold;
                font-weight: 600;
                text-transform: uppercase;
            }
            .title { margin: 0 0 $base-spacing*2; }
            p { margin: $base-spacing 0; }
            ul {
                padding: $base-spacing/3 0;
                margin: $base-spacing/3 0;
            }
            li {
                @include font-size-rem(16);
                font-family: $sans-serif-medium;
                font-weight: 500;
                list-style-type: disc;
                list-style-position: outside;
                padding: 0 0 0 $base-spacing/2;
                margin-bottom: $base-spacing/3;
                margin-left: 2rem;
            }
            p img {
                display: block;
                margin: 4% auto;
                width: 40%;
            }

            // Intro
            .intro {
                border-bottom: 1px solid $smoke-gray;
                padding: $base-spacing 0 $base-spacing/2;

                img {
                    display: block;
                    margin: 4% auto;
                    width: 40%;
                }
            }

            // Api command blocks
            .api-command {
                padding-bottom: $base-spacing*2;
                border-bottom: 1px solid $smoke-gray;

                h2 a { color: $teal; }

                .command-body {
                    border-left: 1px solid darken($smoke-gray, 5);
                    padding-left: $base-spacing/2;

                    p {
                        @include font-size-rem(16);
                        font-family: $monospaced;
                        padding: 0;
                        margin: $base-spacing/3 0;
                    }
                }
            }

            // Placeholder table of contents
            .toc {
                @extend .third;
                background: desaturate(lighten($surf, 5), 10);
                border-radius: $base-border-radius;
                float: right;
                padding: $base-spacing !important;
                margin-left: $base-spacing*2;
                margin-top: 0;

                li {
                    list-style-type: none;
                    margin-bottom: $base-spacing/2;
                    margin-left: 0;
                    padding-left: 0;

                    &:first-child {
                        font-family: $sans-serif-semi-bold;
                        font-weight: 600;
                        text-transform: uppercase;
                    }

                    a {
                        @include font-size-rem(15);
                        color: lighten(desaturate($teal, 30), 30);
                    }
                }
            }
        }
        // First page on load
        .docs-index {
            ul { @extend .site-container; }
            h1 {
                @include font-size-rem(22);
                font-family: $sans-serif-semi-bold;
                padding-top: $base-spacing/4;
                padding-bottom: $base-spacing/4;
                text-align: left;
                font-weight: 600;
            }

            li {
                @extend .half;
                margin: $base-spacing/1.5 0;
            }
            p { max-width: rem(300); }
        }

        // Language selector
        .lang-selector {
            background: none;
            border: 1px solid $smoke-gray;
            border-radius: $base-border-radius;
            box-shadow: none;
            color: $smoke-gray;
            padding: 0 $base-spacing/4 $base-spacing/4;
            position: absolute;
            text-align: center;
            top: rem(-15);
            right: 0px;
            width: auto;

            a p {
                @include font-size-rem(13);
                display: inline;
                font-family: $sans-serif-medium;
                font-weight: 500;
                margin-bottom: 0;
                padding-top: 0;
            }

            a {
                display: inline-block;
                padding: 0 $base-spacing/4;
            }
        }

        // Info boxes
        .infobox {
            margin-top: $base-spacing;
            overflow: hidden;

            p {
                @include font-size-rem(16);
                font-family: $sans-serif-medium;
                font-weight: 500;
                margin: 0;
                padding-top: $base-spacing;
            }
            ul {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }

        em {
            font-family: $sans-serif-medium;
            font-weight: 500;
            color: $teal;
        }

        blockquote:before { content: ''; }
    }
}

// API style overrides
.api .documentation .doc_navigation ul {
    display: block;
    border-left: none;
    padding-left: 0;
}
.api .api-command p:last-child {
    margin: 0;

    a {
        @extend .button;
        @extend .outlined;
        margin-top: $base-spacing/2;
    }
}
