body.landing {
    // Override
    .site-nav { margin-bottom: 0; }

    // Typography
    h1 {
        @include font-size-rem(32);
        font-weight: 400;
    }
}

// Hero
.landing .hero-wrapper {
    @include background-image(url('/assets/images/hero-desk.png'), 
        linear-gradient(rgb(33, 71, 83) 0%, rgb(26, 81, 97) 50%,
        rgb(28, 80, 100) 81%, rgb(29, 79, 95) 100%));
    background-size: cover;

    .site-nav { background-color: transparent; }
}

.landing .hero {
    color: $cream;
    text-align: center;
    overflow: hidden;
    padding: $base-spacing*6 0 $base-spacing*7;

    @include media($mobile) { padding: $base-spacing*2 0; }

    .hero-install {
        padding: $base-spacing*3.5 0 $base-spacing;

        a {
            @include font-size-rem(18);
            margin: 0 $base-spacing;
            padding: $base-spacing/1.5 inherit;
            width: rem(220);

            span {
                @include font-size-rem(15);
                display: block;
                font-family: $sans-serif-medium;
                font-weight: 500;
            }

            @include media($mobile) {
                margin: 0 $base-spacing/4;
                width: rem(160);
            }
        }
    }

    h1 {
        @include font-size-rem(46);
        line-height: rem(55);
        color: $cream;
        font-family: $sans-serif-semi-bold;
        font-weight: 600;
        margin: 0 auto;

        span {
            font-family: $sans-serif;
            font-weight: 100;
            display: block;
        }

        @include media($mobile) {
            @include font-size-rem(31);
            max-width: none;
        }
        @include media($medium-screen-up) { max-width: 70%; }
        @include media($large-screen-up) { max-width: 50%; }
    }

    .hero-release {
        @include font-size-rem(22);
        font-weight: 500;
        a {
            color: saturate($surf, 10);
            font-weight: 500;
            &:hover { color: $cream; }
        }
    }
}

// Mailing list
.landing .mailing-list {
    background: rgba(24, 75, 90, 0.8);
    padding-bottom: $base-spacing/2;
    padding-top: $base-spacing/2;

    p, .list-signup, input, .button { @extend .half; }

    .button { width: auto; }

    p {
        @include font-size-rem(16);
        color: rgb(198, 222, 220);
        font-family: $sans-serif-medium;
        font-weight: 500;
        text-align: right;
        margin-bottom: 0;
        padding-top: $base-spacing/5;
    }

    input {
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(112, 155, 168, 0.3);
        border-radius: $base-border-radius 0 0 $base-border-radius;
        border-right: none;
        color: white;
        padding: $base-spacing/4 $base-spacing;
        margin-right: 0;
    }

    button {
        @include font-size-rem(14);
        color: rgb(198, 222, 220);
        border-color: rgba(112, 155, 168, 0.3);
        border-radius: 0px 3px 3px 0px;
        padding: $base-spacing/4 $base-spacing;
    }

    @include media($mobile) {
        .headline { text-align: center; }
        .list-signup { margin-top: $base-spacing; }
        .list-signup input {
            @include span-columns(8 of 12);
            margin: 0;
        }
        .list-signup .button {
            @include span-columns(4 of 12);
            @include omega;
        }
    }
}

// Padding for multiple sections
.landing {
    .intro, .feature, .examples, .community, .get-started.callout {
        padding-bottom: $base-spacing*5;
        padding-top: $base-spacing*5;

        // Mobile styles for features
        @include media($mobile) {
            padding-bottom: $base-spacing*2;
            padding-top: $base-spacing*2;
        }
    }
}

// Intro
.landing .intro { background: white; }
.landing .intro .offset-img { height: 100%; }

// Typing/loading dots
.intro .realtime-mobile p, .intro .realtime-desktop p {
    @include font-size-rem(80);
    color: #97acb0;
    letter-spacing: rem(-8);
    line-height: $base-spacing;
    position: absolute;

    // Hide loading dots initially
    span { opacity: 0; }

    // Animation in _landing-animations
}

// Text messages styles
.intro .content-mask {
    // Message animation styles in _landing-animations
    li {
        background: #e5eeed;
        border-radius: $base-border-radius;
        padding: $base-spacing/2;
        margin-top: $base-spacing/2;

        &:last-child { display: none; }
    }

    // "Your" msgs
    .recipient {
        background: #5babb4;
        span { background: white; }
    }

    li span {
        background: #97acb0;
        border-radius: $base-border-radius*3;
        display: block;
        height: rem(4);
        margin: $base-spacing/3 0;
        text-indent: -9999px;
        width: 100%;
    }

    // Image message
    .image {
        display: none;
        img { width: 100%; }
    }
}


// Phone illustration
.intro .realtime-mobile {
    background: url('/assets/images/realtime/bg-mobile.png') 0 0 no-repeat;
    background-size: cover;
    height: rem(422);
    position: absolute;
    left: 0;
    top: rem(32);
    width: rem(228);
    z-index: 6;

    h1 {
        @include font-size-rem(24);
        background: url('/assets/images/realtime/avatar.png') left bottom no-repeat;
        background-size: rem(30);
        left: rem(20);
        padding-left: rem(40);
        position: absolute;
        top: rem(34);
    }

    .content-mask {
        left: rem(5);
        height: rem(258);
        overflow: hidden;
        position: absolute;
        top: rem(80);
        width: rem(218);
    }

    // Message width
    li { width: 70%; }
    // Loading
    p {
        bottom: $base-spacing*3.8;
        left: $base-spacing;
    }
    // Message offset positioning
    .thinker { margin-left: $base-spacing/2; }
    .recipient { margin-left: $base-spacing*2.8; }
}

// Desktop illustration
.intro .realtime-desktop {
    background: url('/assets/images/realtime/bg-desktop.png') 0 0 no-repeat;
    background-size: cover;
    height: rem(454);
    position: absolute;
    top: 0px;
    right: 0px;
    width: rem(480);
    z-index: 5;

    .mobile-content {
        border: 1px solid green;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
    }

    .content-mask {
        left: rem(12);
        height: rem(240);
        overflow: hidden;
        position: absolute;
        top: rem(30);
        width: rem(455);
    }

    p {
        bottom: $base-spacing*8.8;
        left: $base-spacing*4;
    }

    // Message width
    li {
        margin-top: $base-spacing;
        position: relative;
        width: 60%;

        &:before {
            background: url('/assets/images/realtime/avatar.png') 0 center no-repeat;
            background-size: rem(30);
            content: '';
            display: block;
            left: rem(-40);
            height: rem(30);
            padding-left: $base-spacing;
            position: absolute;
            top: rem(10);
            width: rem(30);
        }
        &.recipient:before {
            background: url('/assets/images/realtime/avatar-user.png') 0 center no-repeat;
            background-size: rem(30);
            left: inherit;
            right: rem(-40);
        }
    }
    // Message offset positioning
    .thinker { margin-left: $base-spacing*3.5; }
    .recipient {
        background-position: right center;
        margin-left: $base-spacing*5;
    }
    .image {
        margin-left: rem(228);
        width: 32%;
    }
}

// Thinker
.intro .realtime-thinker {
    bottom: 0;
    left: $base-spacing*4;
    position: absolute;

    .push-poll {
        // Animation styles in _landing-animations
        background-image: repeating-linear-gradient(45deg, transparent, transparent rem(10), $teal rem(10), $teal rem(20));
        background-size: 30px;
        bottom: rem(130);
        height: rem(150);
        left: rem(120);
        position: absolute;
        width: rem(150);

        //BG overlay to cover up dashes
        &:before {
            background: white;
            content: '';
            display: block;
            left: 0;
            height: 100%;
            margin: -1px;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    img { width: 100%; }
}

// Shared typography styles, Intro & Features
.intro, .feature {
    position: relative;
    overflow: hidden;

    // Grid settings for intro content
    .intro-content, .intro-illustration, .feature-content-two, img { @extend .half; }

    // Alternating padding for even and odd content
    .intro-content, &:nth-child(even) .feature-content { padding-right: $base-spacing*3; }
    &:nth-child(odd) .feature-content { padding-left: $base-spacing*3; }

    // Mobile styles
    @include media($mobile) {
        .intro-content, &:nth-child(even) .feature-content,
        &:nth-child(odd) .feature-content { padding: $base-spacing/2 0; }
        &:nth-child(even) img { display: none; }
        img { margin: $base-spacing 0; }
    }

    .offset-img {
        left: 50%;
        max-width: rem(900);
        position: absolute;
        width: rem(660);
    }

    p {
        line-height: rem(28);
        margin: $base-spacing*1.5 0 0;
    }

    p a { border-bottom: 1px dotted $cranberry; }

    pre {
        code { @include font-size-rem(13); }
        font-family: $monospaced;
        padding: 0.5rem 0.6rem;
        margin: $base-spacing 0 $base-spacing*2;

        .str { color: $teal; }
        .term { color: $cranberry; }
        .num { color: darken(#6DBDB7,1); }
    }
}

// Examples
.landing .examples {
    h2 {
        @include font-size-rem(33);
        font-weight: 300;
        margin-bottom: $base-spacing*2;
        text-align: center;

        @include media($mobile) { line-height: rem(44); }
    }

    .example {
        text-align: center;
        // Set to a quarter on a tablet and up
        @include media($medium-screen-up) {
            @include omega-reset(2n);
            @include span-columns(3 of 12);
            @include omega(4n);
        }

        img { margin: $base-spacing/2 0; }

        a { @include font-size-rem(16); }
        // Mobile
        @include media($mobile) {
            img { margin: $base-spacing 0 }
        }
    }
}

// Features
.landing .feature {
    &:nth-child(odd) {
        padding-bottom: 0;
        @include media($medium-screen-up) {
            .button { margin-top: $base-spacing*1.5; }
        }
        @include media($large-screen-up) {
            .button { margin-top: $base-spacing*2; }
        }
    }
    
    &.modern-stacks {
        padding-top: 0;
        section.feature-content {
            padding-left: 0;
            padding-top: rem(30);
        }
        article {
            @include media($medium-screen-up);
            @include omega-reset(2n);
            @include span-columns(6 of 12);
            @include omega(2n);
            padding-top: rem(20);
            margin-bottom: rem(100);

            border-bottom: thin solid #dedede;
            height: rem(300);
            overflow: hidden;
            //box-shadow: inset 0px 0px 14px 10px rgba(0,0,0,0.4);

            h2 {
                font-weight: 500;
                @include font-size-rem(20);
            }
            p:first-of-type {
                margin-top: rem(10);
            }
            img {
                float: none;
                width: auto;
                margin-top: rem(30);
            }
            &:nth-child(odd) { padding-right: rem(40); }
            &:nth-child(even) { padding-left: rem(40); }
        }



    }
}

// Get started & Install
.landing .get-started.callout {
    @include background-image(url(/assets/images/code-pattern-v2.png), linear-gradient(darken($cream, 2)  0%, lighten($cream, 2)  50%,
        lighten($cream, 2)  81%, darken($cream, 2)  100%));
    background-repeat: repeat;
    position: relative;
    text-align: center;
    z-index: 6;

    h1 {
        @include font-size-rem(37);
        color: $teal;
        font-weight: 400;
        margin-bottom: $base-spacing*2.5;
    }
    a { width: rem(200); }
    a.light { margin-right: $base-spacing; }
    // Mobile
    @include media($mobile) {
        a { width: auto; }
    }
}

// Community
.landing .community {
    background: $cream;
    > h1 {
        margin-bottom: $base-spacing*5;
        text-align: center;
    }

    h2 {
        @include font-size-rem(18);
        font-family: $sans-serif-semi-bold;
        font-weight: 600;
        margin-bottom: $base-spacing/4;
    }
    // Mobile
    @include media($mobile) {
        h1 { margin-bottom: $base-spacing*2; }
    }
}

// Events
.landing .events {
    @extend .half;

    h1 {
        @include font-size-rem(24);
        font-weight: 400;
        margin: 0;
        padding: 0 0 $base-spacing;
    }

    li {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: $base-spacing/1.5;
        margin-bottom: $base-spacing;

        span {
            @include font-size-rem(13);
            display: block;
            font-family: $helvetica;
            font-weight: 600;
            margin-bottom: $base-spacing/3;
            text-transform: uppercase;
        }

        &:first-child, &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }
    }

    // Device styles
    @include media($mobile) {
        padding-left: 0;
        li:first-child, li:last-child {
            border: none;
            padding: 0;
        }
        ul { margin-top: $base-spacing*2; }
    }

    @include media($medium-screen-up) {
        padding-left: 0;
        margin-left: 0;
        width: 100%;
        ul { margin-top: $base-spacing*2; }
    }

    @include media($large-screen-up) {
        margin-left: 5%;
        padding-left: $base-spacing*1.5;
        width: 40%;
        ul { margin-top: 0; }
    }
}

// Videos
.landing .videos {
    @extend .half;
    @include column-count(2);
    @include column-gap(1rem);

    @include media($mobile) {
        @include column-count(1);
        width: 100%;
        margin-right: 0;
        padding-right: 0;

        .video { height: rem(100) !important; }
    }
    @include media($medium-screen-up) {
        padding-right: 0;
        margin-right: 0;
        width: 100%;
    }
    @include media($large-screen-up) { width: 55%; }

    .video {
        border-radius: $base-border-radius;
        color: $white;
        cursor: pointer;
        display: table;
        margin: 0 0 $base-spacing/2;
        padding: $base-spacing*2 $base-spacing*2 0;
        position: relative;
        -webkit-column-break-inside:avoid;
        -moz-column-break-inside:avoid;
        -o-column-break-inside:avoid;
        -ms-column-break-inside:avoid;
        column-break-inside:avoid;

        &:nth-child(1) {
            background: url('/assets/images/events/ryan-geolocation.png') center center no-repeat;
            background-size: cover;
        }
        &:nth-child(2) {
            background: url('/assets/images/events/michael-realtime.png') center top no-repeat;
            background-size: cover;
        }
        &:nth-child(3) {
            background: url('/assets/images/events/josh-publish.png') center top no-repeat;
            background-size: cover;
        }
        &:nth-child(4) {
            background: url('/assets/images/events/annie-art.png') center center no-repeat;
            background-size: cover;
        }

        &:before {
            @include transition(background 0.2s linear);
            background: darken(saturate($teal, 5), 5);
            content: '';
            left: 0px;
            height: 100%;
            position: absolute;
            opacity: 0.4;
            top: 0px;
            width: 100%;
        }

        &:after {
            background: transparent url('/assets/images/icons/icon-right.png') center center no-repeat;
            content: '';
            right: $base-spacing;
            height: rem(40);
            position: absolute;
            bottom: $base-spacing;
            width: rem(40);
        }

        // Adjust variable video height
        &:nth-child(2), &:nth-child(3) { height: rem(300); }
        &:nth-child(1), &:nth-child(4) { height: rem(350); }

        // Mobile/device styles
        @include media($mobile) {
            min-height: rem(250);
        }

        p {
            @include transition(opacity 0.1s linear);
            @include transition(padding-top 0.1s linear);
            @include font-size-rem(28);
            font-family: $sans-serif-semi-bold;
            font-weight: 400;
            display: table-cell;
            line-height: rem(38);
            opacity: 0;
            padding-top: $base-spacing;
            position: relative;
            vertical-align: middle;
            width: 100%;
        }

        span {
            @include font-size-rem(18);
            display: block;
            margin-top: $base-spacing;

            small {
                display: block;
                text-transform: uppercase;
                font-weight: 500;
            }
        }

        &:hover {
            background-image: none;
            p {
                opacity: 1;
                padding-top: 0;
                vertical-align: top;
            }
            &:before {
                background: lighten($teal, 10);
                opacity: 1;
            }
        }
    }
}

// Modal for videos
.landing .video-modal {
    background: rgba(2, 29, 38, 0.8);
    display: none;
    left: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 7;

    .close {
        @include font-size-rem(30);
        color: white;
        display: block;
        height: auto;
        padding: $base-spacing;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        width: 100%;
    }

    .iframe-container {
        height: 0;
        margin: 5% auto;
        max-width: rem(975);
        padding-top: $base-spacing*2;
        position: relative;
        width: 80%;

        @include media($mobile) {
            padding-bottom: 39.25%;
            margin: 15% auto;
        }
        @include media($medium-screen-up) {
            padding-bottom: 42.5%;
            margin: 10% auto;
        }
        @include media($large-screen-up) {
            padding-bottom: rem(530);
            margin: 5% auto;
        }
    }

    iframe {
        border: 6px solid $teal;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

// Testimonials...hiding these until content is final
.landing .testimonials {
    clear: both;
    display: none;
    padding: $base-spacing*5 0 0;

    blockquote { padding: 0 $base-spacing; }
    .testimonial { @extend .third; }

    @include media($mobile) {
        padding-top: $base-spacing;

        blockquote { padding: 0; }
        blockquote:before { display: none; }
    }
}

// Support
.landing .support {
    background: $teal;
    padding: $base-spacing 0;
    text-align: center;

    h1 {
        @include font-size-rem(24);
        display: inline-block;
        color: $cream;
        margin-right: $base-spacing;
    }

    a { color: $cream; }

    // Mobile styles
    @include media($mobile) {
        a { margin: $base-spacing auto 0; }
    }
}
