html {
  min-height: 100%;
}

html, body {
  height: 100%;
}

.logo {
  @include font-size-rem(6);
}

body.v1 {
  $teal: #59AFB6;
  $cranberry: #C5586D;
  $sunshine: #ebb557;
  $surf: #daedef;

  .global-nav {
    @include pad($base-padding/2 0);
    background: $teal;

    a {
      @include font-size-rem(9);
      color: desaturate(lighten($teal, 32), 25);
      text-transform: uppercase;
    }

    .logo {
      @include font-size-rem(7);
      color: #fff;
      font-weight: 700;
      text-transform: none;
    }
  }

  a {
    color: $teal;
  }

  .button {
    @include pad($base-padding/2 $base-padding*2);
    @include font-size-rem(9);
    background: $cranberry;
    border-color: transparent;
    box-shadow: -1px 2px 0 darken($cranberry, 8);
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .landing {
    background-color: $teal;
    color: lighten($sapphire, 10);
    margin: 0;
  }

  .hero {
    color: #fff;
    padding-top: 0.5em;
    position: relative;
    text-shadow: 0 1px 2px darken(rgba(104, 169, 177, 0.3), 20);

    .rethinkdb-release {
        @include font-size-rem(11); 
        span.divider {
            color: rgba(255,255,255,0.4);
        }
        a {
            color: #fff;
            border-bottom: thin solid rgba(255,255,255,0.2);
        }
        // TODO REMOVE
        margin-bottom: 42px;
    }
    
    &.section-pad {
        padding: 0;
    }

    .button.outlined {
        background: transparent;
        border: 2px solid $cranberry;
        box-shadow: none;
        border-radius: 4px;
    }

    .social-links {
      @extend .element-pad;
      display: none;


      li {
        display: block;

        a {
          @include font-size-rem(8);
          color: saturate(darken(#a1d6d2, 5), 15);
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }

    .main-headline {
      padding-right: 1em;
      font-weight: 400;
      line-height: 1.25em;
    }

    .sub-headline {
      display: none;
    }

    .install-container {
        margin-top: 40px;
        padding-bottom: 20px;
    }   
  }

  .illustration {
    display: block !important;
    position: absolute;
    width: 100%;

    .hero-map {
        background: url('/assets/images/map.svg');
        background-repeat: no-repeat;
        background-size: 600px 330px;
        height: 330px;
        width: 600px;
        position: absolute;
        right: -65px;
        top: 20px;
        opacity: 0.2;
    }

    .hero-terminal, .hero-ui {
         display: none;
    }

    .hero-terminal-minimal {
        &:before {
            $_height: 18px;
            $_radius: 5px;
            content: "";
            display: block;
            position: relative;
            height: $_height;
            top: -$_height;
            background: #CFE4E2;
            border-top-left-radius: $_radius;
            border-top-right-radius: $_radius;
        }
        background: #324753;
        position: absolute;
        top: 380px;
        left: 125px;
        width: 800px;
        height: 63px;
        p {
            @include font-size-rem(12);
            font-family: 'Source Code Pro';
            margin-left: 1.5em;
            .terminal-str { color: #FCDE98;}
            .terminal-term { color: #E79288;}
            display: inline-block;
        }
        .terminal-cursor {
            @include keyframes(flicker) {
                0% { opacity: 0.8; }
                50% { opacity: 0; }
                100% { opacity: 0.8; }
            }
            display: inline-block;
            height: 1.2em;
            width: 0.7em;
            margin-left: 0.3em;
            background-color: #CFE4E2;
            @include animation(flicker 1.5s infinite);
        }
    }
  }

  .newsbanner, .examples, .offerings {
    background: #fff;
  }

  .newsbanner {
    @extend .content-pad;
    margin-top: 60px;
    padding-bottom: 0;
    background: $surf;
  }

  .example-list {
    .example {
      position: relative;
    }

    p {
      @extend .left-align;
      @include pad($base-padding/2);
      @include position(absolute, 0 0 99% 0);
      background: rgba(255,255,255, 0.4);
      height: 25%;
      z-index: 1;
    }

    .third.example p {
      height: 40%;
      width: 60%;
    }
  }

  .offerings {
    padding-bottom: $base-padding*14;

    .sub-headline {
      color: $cranberry;
    }

    p {
      @include font-size-rem(12);
    }

    a {
      display: block;
    }

    .half.content:nth-child(1n) {
      padding-right: $base-padding*4;
    }

    .half.content:nth-child(2n) {
      padding-left: $base-padding*2;
      padding-right: $base-padding*2;
    }
  }

  .dark {
    background: darken($sapphire, 5);
    background-position: center 40%;
    background-repeat: no-repeat;
    color: $white;
  }

  .community {
    background-color: $surf;
    position: relative;

    .events a {
      color: $teal;
      font-family: $sans-serif-semi-bold;
      font-weight: 600;
    }

    .events .button.light {
      background: $sky-blue;
      border-color: darken($sky-blue, 10);
      box-shadow: none;
      color: $sapphire;
    }
  }

  .callout {
    @extend .center-align;
    @include position(absolute, -140px 0 0 0);
    height: 270px;
    margin-bottom: $base-margin*4;
    text-shadow: 0 1px 1px darken(rgba(175, 102, 102, 0.5), 10);

    .button {
      @extend .light;
      box-shadow: none;
    }

    .half {
      @include pad($base-padding);
    }
  }

  .support, .install-banner, .footer {
    color: #fff;
  }

  .support {
    background: $teal;

    h1 {
      display: inline-block;
      margin-right: $base-margin;
    }
  }

  .install-banner {
    @extend .content-pad;
    display: none;
    margin: 0;

    h2 {
      @extend .element-pad;
      background: saturate(darken(#af6666, 1), 6);
      border-radius: $base-border-radius;
      margin: 0 auto;
      width: 75%
    }
  }

  .footer {
    @include background(url('/assets/images/thinker.png') 60% 120% no-repeat);
    background-color: darken($teal, 40);
    background-size: 800px auto;
    padding-bottom: 250px;
    font-weight: 500;

    li {
      @include font-size-rem(12);
    }
  }
}
