// Landing realtime animations

// Loading text animation styles
.intro .realtime-mobile p, .intro .realtime-desktop p {
    &.animate span {
        @include animation(fadeIn 0.8s linear);
        @include animation-iteration-count(3);

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                @include animation-delay(0.2s * $i);
            }
        }
    }
}

// Message animation styles
.intro ul.animate {
    li {
        @include animation(moveUp 0.5s ease);
        @include animation-fill-mode(forwards);

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                @include animation-delay(0.1s * $i);
            }
        }
    }
    .image { display: table; }

    &.final {
        li {
            @include animation(moveUpFinal 0.5s ease);
            @include animation-fill-mode(forwards);
        }
        li:last-child { display: table; }
    }
}

// Data dashed line animation styles
.intro .realtime-thinker {
    .push-poll.animate {
        @include transform(rotate(45deg));
        @include transform-style(preserve-3d);
        @include animation(moveDashes 2s linear);
        @include animation-iteration-count(4);
        @include animation-fill-mode(forwards);
        @include animation-direction(alternate-reverse);
    }
}

// Push-poll dashes near the Thinker
@include keyframes(moveDashes) {
    to {
        background-position: 100px 0;
    }
    from {
        background-position: 0;
    }
}
// Move up animation for first iteration of messages
@include keyframes(moveUp) {
    to {
        @include transform(translate3d(0, -150px, 0));
    }
    from {
        @include transform(translate3d(0, 0, 0));
        opacity: 1;
    }
}
// Move animation up to its final position, second iteration of messages
@include keyframes(moveUpFinal) {
    to {
        @include transform(translate3d(0, -210px, 0));
    }
    from {
        @include transform(translate3d(0, -150px, 0));
        opacity: 1;
    }
}

// Fade in animation for loading/texting sequence
@include keyframes(fadeIn) {
    to {
        opacity: 0;
    }
    from {
        opacity: 1;
    }
}
