//Vertical/horizontal margins
$medium-y-margin: $base-margin * 2;
$large-y-margin: $base-margin * 4;
$medium-gutter: $base-margin * 2;
$large-gutter: $base-margin * 2;

//Vertical/horizontal padding
$medium-pad: $base-padding * 2;
$large-pad: $base-padding * 4;

//100% width, useful for color blocks
.full-width {
  width: 100%;
}

.outer-container, .main-container {
  @include outer-container;
}

.container {
  @include outer-container;
  @include pad($base-padding);
}

// Extra space on the top/btm for major section
.section-offset-y {
  margin: $large-y-margin auto;
}

.section-gutter {
  margin: auto $large-gutter;
}

.section-pad {
  @include pad($large-pad 0);
}

.content-offset-y {
  margin: $medium-y-margin auto;
}

.content-gutter {
  margin: $medium-gutter auto;
}

.content-pad {
  @include pad($medium-pad 0);
}

.element-pad {
  @include pad($base-padding 0);
}

// Grid
.three-quarter {
  @include span-columns(8 of 12);
  @include omega();
}

.half {
  @include span-columns(6 of 12);
  @include omega(2n);
}

.third {
  @include span-columns(4 of 12);
  @include omega(3n);
}

.quarter {
  @include span-columns(3 of 12);
  @include omega(4n);
}

// Directional
.left {
  float: left;
}

.right {
  float: right;
}
