html, body {
    margin: 0;
    padding: 0;
}

body {
    @include font-size-rem(18);
    color: lighten(desaturate($teal, 35), 20);
}

.site-container {
    @include outer-container;
    @include pad(0 $base-spacing);
    position: relative;
}

// Adjust font sizes globally
@include media($mobile) {
    html {
        font-size: 58%;
    }
}

@include media($medium-screen-up) {
    html {
        font-size: 55%;
    }
}

@include media($large-screen-up) {
    html {
        font-size: 62.5%;
    }
}
