html {
    font-size: 62.5%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    @include font-size-rem(18);
    color: lighten(desaturate($teal, 35), 20);
}

.site-container {
    @include outer-container;
    @include pad(0 $base-spacing);
    position: relative;
}

@include media($mobile) {
    html {
        font-size: 58%;
    }
}
