.global-nav {
  ul {
    @include outer-container;
  }

  li {
    @include inline-block;
    margin-left: $base-margin*2;
  }

  a {
    color: $white;
    font-family: $sans-serif-bold;
    font-weight: 700;
  }
}
