.global-nav {
  background: $sapphire;
  border: 1px solid red;

  ul {
    @include outer-container;
    border: 1px solid green;
  }

  li {
    @include inline-block;
    margin-left: $base-margin;
  }

  a {
    color: $white;
  }
}
