---
layout: default
body_class: blog
---
<div class="main-container">
    <div class="content">
        <div class="blog-v1 container">
        {% for post in paginator.posts %}
            <div class="section">
                <div class="post">
                    <div class="post-hero">
                        <img src="http://placehold.it/800x400">
                    </div>
                    <a href="{{post.url}}"><h1 class="title">{{ post.title }}</h1></a>
                    <div class="post-byline">
                        <a class="avatar" href="#">
                            <img src="http://placehold.it/50x50">
                            {% if post.author %}{{ post.author }}{% else %}RethinkDB Team{% endif %}
                        </a>
                        <span class="post-timestamp">{{ post.date | date: "%B %d, %Y" }}</span>
                        <ul class="post-tags">
                            {% for tag in post.tags %}
                            <li><a href="#">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                        <ul class="post-toc">
                            <li><a href="#">Content &#x25BE;</a></li>
                        </ul>
                    </div>
                    <div class="post-body">
                        {{ post.excerpt | markdownify }}
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>
</div>
