---
layout: default
js: [unevent, api]
active: api
no_footer: true
body_class: api
---

<section class="documentation section no-footer">
    <div id="api-app" class="site-container">
        <div id="api-nav" class="doc_navigation">
            <div class="search">
                <input class="small" type="text" placeholder="Search commands...">
            </div>
        </div>
        <div class="doc-mobile-nav push-menu-left">
            <div class="mobile-search">
                <input class="small" type="text" placeholder="Search docs...">
                <a class="clear-search" href="#">&#x2715;</a>
                <ul class="search-results">
                    <li>Result</li>
                    <li>Result</li>
                </ul>
            </div>
            <div class="mobile-doc-links"></div>
        </div>
        <div id="api-sections-wrapper" class="documentation-content">
            <div class="search-results">
                <div class="results-header">
                    <h1>Results</h1>
                    <a class="close-results" href="#">&#x2715;</a>
                </div>
                <ul>
                    <li>
                        <h2>Section heading</h2>
                        <p>Blurb of matching string</p>
                        <span>Language</span>
                    </li>
                </ul>
            </div>
            <a class="docs-menu-trigger" href="#">Menu</a>
            <h1 class="title">{{page.language}} ReQL command reference</h1>
            <div id="docs-switcher" class="infobox infobox-slim page-nav-selector lang-selector">
                <a class="lang-link javascript {% if page.language == 'JavaScript' %}active{% endif %}" href="../javascript/" id="_js"><i class="sprite javascript"></i><p class="category">JavaScript</p></a> |
                <a class="lang-link python {% if page.language == 'Python' %}active{% endif %}" href="../python/" id="_py"><i class="sprite python"></i><p class="category">Python</p></a> |
                <a class="lang-link ruby {% if page.language == 'Ruby' %}active{% endif %}" href="../ruby/" id="_rb"><i class="sprite ruby"></i><p class="category">Ruby</p></a>
            </div>
            <div class="infobox infobox-info">
                <p>
                    <strong>Looking for documentation for a community driver?</strong><br/>
                    <a href="/docs/install-drivers">Find the project page</a>
                    for your driver for specific ReQL documentation.
                </p>
            </div>
            <div id="api-sections">
                {{ content }}
            </div>

            <div id="api-footer">
                <h2>Improve this doc</h2>
                <p>Help us improve this document.</p>
                <ul>
                    <li class="github"><strong>Help us</strong> improve the docs <a href="https://github.com/rethinkdb/docs/blob/master{{page.path | remove_first: 'docs' }}">by editing</a> this document</li>
                    <li class="github"><strong>Post an issue</strong> on the docs <a href="https://github.com/rethinkdb/docs/issues">issue tracker</a> on GitHub</li>
                </ul>

                <h2>Get more help</h2>
                <p>We always welcome suggestions on how to improve our documentation, or specific ReQL questions.</p>
                <ul>
                    <li class="stack-overflow"><strong>Ask a question</strong> on <a href="http://stackoverflow.com/questions/tagged/rethinkdb">Stack Overflow</a></li>
                    <li class="irc"><strong>Talk to the team</strong> on <a href="irc://freenode.net/#rethinkdb">#rethinkdb@freenode.net</a> &mdash; via <a href="http://webchat.freenode.net/?channels=#rethinkdb">Webchat</a></li>
                    <li class="github"><strong>Post an issue</strong> on our <a href="https://github.com/rethinkdb/rethinkdb/issues">issue tracker</a> on GitHub</li>
                    <li class="twitter"><strong>Follow</strong> <a href="http://twitter.com/rethinkdb">@rethinkdb</a> on Twitter</li>
                </ul>
            </div>
        </div>
    </div>
</section>
