<!doctype html>
<html>
    <head>
        <title>{{ page.title }} - RethinkDB</title>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="twitter:account_id" content="52351557" />

        <link rel="stylesheet" media="screen" href="/assets/css/styles.css"/>

        <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="//use.typekit.net/lmb6cah.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script type="text/javascript" src="/assets/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/assets/js/waypoints.min.js"></script>
        <script type="text/javascript" src="/assets/js/waypoints-sticky.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.social-integration').waypoint(function(direction) {
                    // Blog right panel should be set to a fixed position on scroll
                    $(this).toggleClass('sticky');
                });

                $('.doc_navigation h1').click(function(event) {
                    $(this).toggleClass('expand').next('ul').slideToggle()
                });
            });
        </script>

        </script>
    </head>
    <body class="{{ page.body_class}}">
        <!-- site nav -->
        <nav class="site-nav">
            <div class="site-container">
                <h1 class="logo"><a href="/">RethinkDB</a></h1>
                <ul>
                    <li><a href="/">FAQ</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/">Community</a></li>
                    <li><a href="/">Events</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
        {{ content }}

        <!-- site footer -->
        <footer class="site-footer">
            <div class="site-container">
                <section class="get-started">
                    <h1>Join 23,000 developers</h1>
                    <p>Install in seconds on Linux or OS X.</p>
                    <a class="button small install" href="/">Install</a>
                    <a class="button small learn-more" href="/">Learn more</a>

                    <section class="contact-info">
                        <h1>Office</h1>
                        <address>
                            156 E Dana St,
                            Mountain View, CA 94041
                        </address>
                        <h1>IRC</h1>
                        <p>#rethinkdb on freenode</p>
                    </section>
                </section>
                <ul class="footer-links">
                    <li>FAQ</li>
                    <li>Docs</li>
                    <li>API</li>
                    <li>
                        Community
                        <ul>
                            <li>Sublink</li>
                            <li>Sublink</li>
                            <li>Sublink</li>
                            <li>Sublink</li>
                        </ul>
                    </li>
                    <li>
                        Events
                        <ul>
                            <li>Sublink</li>
                            <li>Sublink</li>
                            <li>Sublink</li>
                            <li>Sublink</li>
                        </ul>
                    </li>
                    <li>
                        About
                        <ul>
                            <li>Sublink</li>
                            <li>Sublink</li>
                            <li>Sublink</li>
                            <li>Sublink</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>
