---
layout: default
body_class: docs
---
<section class="documentation">
    <div class="site-container">
        {% if page.title_image %}
            <img class="title-image" src="{{page.title_image}}" />
        {% endif %}
        <!-- TODO: change conditional to something less fragile than page.title -->
        <div class="navigation doc_navigation {% if page.title == 'Documentation' %}hide-menu{% endif %}">
            <div class="search">
                <input class="small" type="text" placeholder="Search commands...">
            </div>
            {% include docs-navigation.html %}
        </div>
        <div class="doc-mobile-nav push-menu-left">
            <div class="mobile-search">
                <input class="small" type="text" placeholder="Search docs...">
                <a class="clear-search" href="#">&#x2715;</a>
                <ul class="search-results">
                    <li>Result</li>
                    <li>Result</li>
                </ul>
            </div>
            <div class="mobile-doc-links">
               {% include docs-navigation.html %}
            </div>
        </div>
        <!-- TODO: change conditional to something less fragile than page.title -->
        <div class="documentation-content {% if page.cookbook %}cookbook{% endif %} {% if page.title == 'Documentation' %}full-width{% endif %} ">
            <div class="search-results">
                <div class="results-header">
                    <h1>Results</h1>
                    <a class="close-results" href="#">&#x2715;</a>
                </div>
                <ul>
                    <li>
                        <h2>Section heading</h2>
                        <p>Blurb of matching string</p>
                        <span>Language</span>
                    </li>
                </ul>
            </div>
            <a class="docs-menu-trigger" href="#">Menu</a>
            {% if page.switcher %}
                {% include docs-switcher.html %}
            {% endif %}
            {{ page.title | page_title }}
            {{ content }}
        </div>
    </div>
</section>
