---
layout: default
body_class: docs
include_nav: docs
---
<section class="documentation">
    <div class="site-container">
        <section class="docs-sidebar-left">
            {% include docs-search.html %}
            {% include docs-navigation.html %}
        </section>
        <section class="docs-article">
            {% if page.switcher %}
                {% include docs-switcher.html %}
            {% endif %}
            {% if page.title_image %}
                <img class="title-image" src="{{page.title_image}}" />
            {% endif %}
            {{ page.title | page_title }}
            {{ content }}
        </section>
    </div>
</section>
