button,
input[type="submit"] {
    @extend %button;
    @include appearance(none);
    border: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.simple-button {
    border-radius: $base-border-radius;
    border: thin solid desaturate(lighten($teal, 63), 15);
    background: rgb(254, 254, 255);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.02), inset 0px 1px 0px 0px rgba(255,255,255,1);
    font-weight: 400;
    @include transition(border-color 0.1s linear);

    &:hover { border-color: desaturate(lighten($teal, 45), 15); }
}
