// Site footer
.site-footer {
    background: darken($teal, 10);
    color: $cream;
    font-family: $sans-serif-medium;
    font-weight: 500;
    padding-bottom: $base-spacing*5;

    .get-started, .contact-info {
        h1 {
            @include font-size-rem(20);
            font-weight: 500;
        }

        address, p {
            @include font-size-rem(16);
            color : $surf;
        }
    }

    a, h1 { color: $cream }

    // Get started, install
    .get-started {
        @extend .quarter;
        padding-top: $base-spacing*2;

        .button {
            margin-right: $base-spacing/2;
            margin-bottom: $base-spacing/3;
        }
    }

    hr { border-color: darken($teal, 5); }

    // Footer links
    .footer-links {
        @extend .three-quarter;
        margin-top: $base-spacing*2;

        ul { @include outer-container; }

        li {
            @extend .sixth;
            @include font-size-rem(16);
            font-family: $sans-serif-semi-bold;
            font-weight: 600;
            text-transform: lowercase;
            margin-bottom: $base-spacing;
            padding: 0 0 0 $base-spacing*2.5;

            ul li {
                @include fill-parent;
                font-family: $sans-serif-medium;
                font-weight: 500;
                margin-bottom: 0;
                padding: 0;
            }

            @include media($mobile) {
                padding-left: 0;
                padding-bottom: $base-spacing;

                ul li { padding-top: $base-spacing/3; }
            }
        }
    }

    // Contact information
    .contact-info {
        @include font-size-rem(14);
        font-weight: 400;
        margin-top: $base-spacing;
    }
}
