// Site footer
.site-footer {
    background: darken($teal, 10) url("/assets/images/bg-footer-2.png") left bottom no-repeat;
    background-size: auto 100%;
    color: $cream;
    font-family: $sans-serif-medium;
    font-weight: 500;
    padding-bottom: rem(200);

    .site-container {
        padding-top: $base-spacing*2;
    }

    .get-started, .contact-info {
        h1 {
            @include font-size-rem(20);
            font-weight: 500;
        }

        address, p {
            @include font-size-rem(16);
            color: $surf;
            margin-bottom: $base-spacing;
        }
    }

    a, h1 { color: $cream }

    // Get started, install
    .get-started {
        @extend .quarter;
        margin-top: $base-spacing*2;
        margin-bottom: $base-spacing;
    }

    // Footer links
    .footer-links {
        @extend .three-quarter;
        margin-top: $base-spacing*2;
        text-align: center;

        ul { @include outer-container; }

        li {
            @extend .sixth;
            @include font-size-rem(16);
            font-family: $sans-serif-semi-bold;
            font-weight: 600;
            margin-bottom: $base-spacing;

            ul {
                margin-top: $base-spacing/3;
            }

            ul li {
                @include fill-parent;
                font-family: $sans-serif-medium;
                font-weight: 500;
                margin-bottom: 0;
            }
        }
    }

    // Contact information
    .contact-info {
        @include font-size-rem(14);
        font-weight: 400;
        margin-top: $base-spacing*2;
    }
}
