// Infobox styles

.infobox,
.documentation .infobox, // overcoming CSS speficity
.documentation .docs-article .infobox,
.blog .post .post-body .infobox {
    background: rgb(230, 241, 244);
    border-radius: $base-border-radius;
    margin: $base-spacing 0;
    padding: $base-spacing*0.75 $base-spacing;
    overflow: hidden;

    &.infobox-alert { background: rgb(249, 243, 219); }

    &.infobox-with-arrow {
        &:after {
            $_size: 10px;
            content: '';
            border-style: solid;
            border-color: rgb(230, 241, 244) transparent;
            border-width: 0 $_size $_size $_size;
            display: block;
            width: 0;
            position: absolute;
            top: -$_size;
            left: 10%;
            margin: 0 0 0 -$_size;
        }
        &.infobox-alert:after {
            border-color: rgb(230, 241, 244) transparent;
        }
    }

    // Typographic styles
    p, li {
        @include font-size-rem(16);
        font-family: $sans-serif-medium;
        font-weight: 500;
    }

    // Code styles
    code { background: rgba(139, 139, 139, 0.1); }

    // Layout and spacing
    p {
        margin: 0;
        padding-top: $base-spacing;
        &:first-child {
            margin-top: 0;
            padding-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    ul {
        margin-top: rem(15);
        margin-bottom: 0;
        padding-bottom: 0;
        li:last-child { margin-bottom: 0; }

        > ul {
            margin: 0;
            li:last-child { margin-bottom: 0; }
        }
    }
}
