// Shared navigation styles
.site-nav, .sub-nav {
    background: $teal;
    margin-bottom: $base-spacing;

    // Mandatory spacing under the global nav
    .site-container {
        padding: $base-spacing;
        position: relative;
    }

    a {
        color: $cream;
        &:hover { color: darken($cream, 8); }
    }

    .logo {
        @include span-columns(2);
        @include font-size-rem(26);
        font-weight: 400;
        font-family: $serif;
        line-height: rem(40);
    }

    ul {
        @include span-columns(10);
        text-align: right;
    }

    li {
        @include pad($base-spacing/4 0 0 $base-spacing*2.5);
        @include font-size-rem(18);
        display: inline-block;
        font-family: $sans-serif-semi-bold;
        line-height: rem(28);
        text-transform: lowercase;
        font-weight: 600;
    }
    // Hide the menu trigger
    .menu-trigger { display: none; }
}

// Slider navigation
body { overflow-x: hidden; }

#wrapper {
    @include transition(all 0.1s linear);
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
}

.mobile-menu, .docs-mobile-nav {
    @include transition(all 0.1s linear);
    background-color: darken($teal, 10);
    position: fixed;
    z-index: 6;
    overflow: hidden;

    a {
        color: $cream;
        text-transform: lowercase;
    }

    // Sliding menu is initial hidden
    &.push-menu-right, &.push-menu-left {
        height: 100%;
        right: -50%;
        top: 0;
        width: 50%;

        li {
            border-bottom: solid 1px darken($teal, 5);
            display: block;
        }

        a {
            @include font-size-rem(18);
            font-family: $sans-serif-semi-bold;
            font-weight: 600;
            display: block;
            padding: $base-spacing/2 $base-spacing $base-spacing/1.8;

            &:hover {
                background: darken($teal, 11);
            }
        }

        // Add 'x' to close btn
        .menu-trigger a:before {
            content: '\2715';
            display: inline-block;
            padding-right: $base-spacing/2;
        }
    }
    &.push-menu-left {
        background-color: darken($teal, 6);
        left: -80%;
        width: 80%;
    }
    .mobile-search {
        left: 0px;
        padding: $base-spacing;
        position: absolute;
        top: 0px;
        width: 100%;

        input {
            @include font-size-rem(16);
            background: darken($teal, 8);
            border: none;
            color: $cream;
            margin: 0 auto;
            padding: $base-spacing/2;
            text-align: center;
            width: 100%;
        }
        .clear-search {
            color: $surf;
            border-radius: 50%;
            display: none;
            height: rem(30);
            padding: $base-spacing/2;
            position: absolute;
            right: $base-spacing*1.5;
            top: $base-spacing/1.1;
            width: rem(30);
            &:hover { background: none; }
        }

        // Initially hide the search results
        .search-results {
            display: none;

            li {
                border-bottom: 1px solid darken($teal, 4);
                color: $cream;
                padding: $base-spacing/2 0;
            }
        }
    }
    // Allow doc menu links to scroll
    .mobile-doc-links {
        height: 92%;
        overflow-y: scroll;
        margin-top: $base-spacing*4;
        width: 106%;

        h1, .nav-header {
            @include font-size-rem(14);
            color: lighten($teal, 15);
            cursor: pointer;
            font-family: $sans-serif-semi-bold;
            font-weight: 600;
            padding: $base-spacing $base-spacing 0;
            text-transform: uppercase;

            &:hover { background: none; }
        }
        ul { display: none; }
        // API nav list needs to show
        ul.nav-list { display: block; }
        ul li a {
            @include font-size-rem(16);
            color: $surf;
        }
    }
}

// Set right global nav sliding position when open
body.pmr-open .push-menu-right { right: 0; }
body.pmr-open #wrapper { left: -50%; }

// Set left docs/api nav sliding position when open
body.pml-open .push-menu-left { left: 0; }
body.pml-open #wrapper { left: 80%; }
// Open wider on mobile search (like FB)
body.pml-open-wide {
    #wrapper { left: 100%; }
    .push-menu-left { width: 100%; }
    .mobile-search input { text-align: left; }
}

// Global desktop nav styles
@include media($mobile) {
    .site-nav {
        // Hide other links until user taps 'Menu'
        li { display: none; }
        // Only show the 'menu' link at first
        .menu-trigger { display: block; }
    }
}

// Sub navigation (about page)
.sub-nav {
    background: $surf;
    margin-bottom: 0;
    a { color: $teal; }
    ul {
        @include fill-parent;
        text-align: center;
    }
    li {
        @include font-size-rem(16);
        line-height: rem(20);
        padding: $base-spacing/4 $base-spacing;
    }
}
