//Global navigation
.site-nav {
    background: $teal;
    margin-bottom: $base-spacing;

    // Mandatory spacing under the global nav
    .site-container {
        @include pad($base-spacing);
    }

    a {
        color: $cream;
    }

    .logo {
        @include font-size-rem(24);
        @include span-columns(2);
        font-family: $serif;
    }

    ul {
        @include span-columns(10);
        text-align: right;
    }

    li {
        @include pad(0 0 0 $base-spacing*2.5);
        @include inline-block;
        @include font-size-rem(18);
        line-height: rem(28);
        text-transform: lowercase;
        font-weight: 600;
    }
}
