// Typography
///////////////////////////////////////////////////////////////////////////////
@font-face {
  font-family: 'Quick-Book';
  src: font-url('fonts/IdealSans-Book-Pro.otf');
}

@font-face {
  font-family: 'Quick-Medium';
  src: font-url('fonts/IdealSans-Medium-Pro.otf');
}

@font-face {
  font-family: 'Quick-Bold';
  src: font-url('fonts/IdealSans-Bold-Pro.otf');
}

@font-face {
  font-family: 'Quick-Light';
  src: font-url('fonts/IdealSans-Light-Pro.otf');
}

$sans-serif: 'Quick-Book', 'Helvetica Neue', $helvetica, sans-serif;
$sans-serif-light: 'Quick-Light', 'Helvetica Neue Ultra Light', $helvetica, sans-serif;
$sans-serif-medium: 'Quick-Medium', 'Helvetica Neue Light', $helvetica;
$sans-serif-bold: 'Quick-Bold', 'Helvetica Neue Bold', $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: em(16);
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);
$base-padding: em(20);
$base-margin: em(20);

// Colors
///////////////////////////////////////////////////////////////////////////////

$eggplant: #584461;
$blue: #27728b;
$sapphire: #2c3845;
$sky-blue: #ccf3e9;
$turquoise: #328685;
$dark-gray: #333;
$medium-gray: #999;
$blue-gray: #a7bace;
$light-gray: #DDD;
$white: #f1f1f1;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$goldenrod: #d6ad27;
$light-green: #E6EFC2;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $sky-blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
