// Typography
///////////////////////////////////////////////////////////////////////////////

// @include font-face(Regular, '../fonts/GothamRnd-Book');
// @include font-face(Bold, '../fonts/GothamRnd-Bold');
// @include font-face(Light, '../fonts/GothamRnd-Light');
// @include font-face(Italic, '../fonts/GothamRnd-Italic');
// @include font-face(Medium, '../fonts/GothamRnd-Medium');
// @include font-face(Slab, '../fonts/museo_slab_500-webfont');

// $sans-serif: Regular, 'Helvetica Neue', $helvetica, sans-serif;
// $sans-serif-light: Light, 'Helvetica Neue Light', $helvetica, sans-serif;
// $sans-serif-italic: Italic, 'Helvetica Neue Italic', $helvetica;
// $sans-serif-medium: Medium, 'Helvetica Neue Bold', $helvetica;
// $sans-serif-bold: Bold, 'Helvetica Neue Bold', $helvetica;
// $serif: Slab, $georgia;

$sans-serif: "freight-sans-pro", sans-serif;
$sans-serif-light: sans-serif;
$sans-serif-italic: sans-serif;
$sans-serif-medium: "freight-sans-pro-n5", "freight-sans-pro", sans-serif;
$sans-serif-semi-bold: "freight-sans-pro-n6", "freight-sans-pro", sans-serif;
$sans-serif-bold: "freight-sans-pro-n7", "freight-sans-pro", sans-serif;
$serif: Georgia;

$base-font-family: $sans-serif;
$header-font-family: $sans-serif-medium;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: em(16);
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);
$base-padding: em(20);
$base-margin: em(20);

// Colors
///////////////////////////////////////////////////////////////////////////////

$eggplant: #584461;
$blue: #27728b;
$sapphire: #2c3845;
$sky-blue: #ccf3e9;
$turquoise: #328685;
$dark-gray: #333;
$medium-gray: #999;
$blue-gray: #a7bace;
$light-gray: #DDD;
$medium-gray: #525252;
$white: #f1f1f1;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$goldenrod: #d6ad27;
$light-green: #E6EFC2;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $sky-blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
