/* ---
   Documentation: API docs
   --- */
.api-docs.documentation {
    // API header
    #api-header {
        overflow: auto;
        &.stuck {
            position: fixed;
            top: 0;
        }
    }

    // API commands
    .api-command {
        padding-bottom: $base-spacing*2;
        border-bottom: 1px solid $smoke-gray;

        h2 a { color: $teal; }

        > p:last-child {
            margin: 0;

            a {
                @extend .button;
                @extend .outlined;
                color: lighten(saturate($teal, 25), 25);
                border-color: lighten(saturate($teal, 25), 25);
                margin-top: $base-spacing/2;
            }
        }
    }

    // Back to top link
    .api-nav {
        border-bottom: thin solid lighten(desaturate($teal, 25), 65);
        padding-bottom: rem(20);
    }
    p.back-to-top {
        padding-top: rem(10);
        &.stuck {
            position:fixed;
            top: 0;
        }

        a {
            @include font-size-rem(16);
            font-family: $sans-serif-semi-bold;
            font-weight: 600;
            color: lighten($teal, 15);
            i { 
                font-style: normal;
                position: relative;
                top: rem(-3);
                font-size: rem(7);
                margin-right: rem(4);
            }
            &:hover {
              color: $teal;
            }
        }
    }
}


/* ---
   Documentation: API docs -- individual command styles
   --- */
.documentation .api-command {
    .command-syntax {
        border-left: 3px solid darken($smoke-gray, 3);
        padding-left: $base-spacing/2;
        margin-top: 2rem;

        p {
            @include font-size-rem(16);
            font-family: $monospaced;
            padding: 0;
            margin: $base-spacing/3 0;

            &:first-child { margin-top: 0; }
            &:last-child { margin-bottom: 0; }
        }
    }
}
