/* ---
   Documentation: general styles
   --- */
.documentation {
    padding: $base-spacing*2 0;
    a { color: lighten(saturate($teal, 25), 25); }  // TODO - check color
    @include media($mobile) { padding: $base-spacing; }

    // Documentation grid
    .docs-grid-block {
        margin-bottom: $base-spacing*2;
    }
}

/* ---
   Documentation: left-side nav
   --- */
.docs-sidebar-left {
    @extend .quarter;

    // Hide the menu on mobile devices
    @include media($mobile) { display: none; }
    @include media($medium-screen-up) { display: block; }
}

.docs-nav {
    h1, .nav-header {
        @include font-size-rem(16);
        font-family: $sans-serif-medium;
        font-weight: 600;
        padding: $base-spacing/2 0 0;
        width: 90%;
        a { color: lighten(desaturate($teal, 28), 28); }
    }
    .nav-header {
        border-bottom: none;
        padding-bottom: 0;
    }
    
    // Styles for each section
    ul {
        // Hide each section initially for the accordion
        display: none;
        margin-top: rem(6);
        padding-left: rem(11);
        border-left: 1px solid $smoke-gray;
        &.expanded, &.active { display: block; }
    }
    li {
        @include font-size-rem(15);
        line-height: rem(22);
        &.active a { color: $teal; }
    }
}

/* ---
   Documentation: language switcher
   --- */
nav.lang-selector {
    position: absolute;
    top: rem(5);
    right: 0;
    width: auto;
    padding: rem(2) rem(8);

    background: none;
    border: 1px solid rgb(229,229,229);
    border-radius: $base-border-radius;
    box-shadow: none;
    color: $smoke-gray;
    text-align: center;

    @include media($mobile) { top: rem(-40); }

    a {
        display: inline-block;
        padding: 0 rem(6);
        &:first-child { padding-left: 0; }
        &:last-child { padding-right: 0; }
        p {
            @include font-size-rem(14);
            display: inline;
            font-family: $sans-serif-medium;
            font-weight: 500;
            margin-bottom: 0;
            padding-top: 0;
            color: lighten($base-font-color, 40);
            //border-bottom: thin dotted lighten($base-font-color, 15);
        }

        i {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: inline-block;
            width: rem(15);
            height: rem(15);
            margin-right: rem(4);
            vertical-align: middle;
            
            $_root: '/assets/images/docs/driver-languages/minicons/';
            &.javascript { background-image: url($_root + 'javascript-bw.png'); }
            &.python { background-image: url($_root + 'python-bw.png'); }
            &.ruby { background-image: url($_root + 'ruby-bw.png'); }
        }
    }

    // The active language should have a bright icon and bold text
    a.active {
        p {
            color: $base-font-color;
            font-weight: 600;
        }

        $_root: '/assets/images/docs/driver-languages/minicons/';
        i.javascript { background-image: url($_root + 'javascript.png'); }
        i.python { background-image: url($_root + 'python.png'); }
        i.ruby { background-image: url($_root + 'ruby.png'); }
    }
}
